[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Audio Configurator
Name[zh]=音频设置工具
Name[az]=Səs qurğuları
Name[bg]=Аудио настройки
Name[bn]=অডিও সেটিংস
Name[ca]=Configuració d'àudio
Name[cs]=Nastavení zvuku
Name[da]=Lydkonfiguration
Name[de]=Audioeinstellungen
Name[el]=Ρυθμίσεις ήχου
Name[eo]=Aŭdilaj agordoj
Name[es]=Configuración de audio
Name[et]=Heliseaded
Name[fi]=Ääniasetukset
Name[fr]=Paramètres audio
Name[hi]=ऑडियो सेटिंग्स
Name[hr]=Zvučne postavke
Name[hu]=Hangbeállítások
Name[id]=Pengaturan audio
Name[it]=Impostazioni audio
Name[ja]=オーディオ設定
Name[ko]=오디오 설정
Name[lt]=Garso nustatymai
Name[lv]=Audio iestatījumi
Name[ms]=Tetapan audio
Name[nb]=Lydkonfigurasjon
Name[nl]=Geluidsinstellingen
Name[no]=Lydkonfigurasjon
Name[pl]=Ustawienia dźwięku
Name[pt]=Configurações de áudio
Name[ro]=Setări audio
Name[sk]=Nastavenia zvuku
Name[sl]=Nastavitve zvoka
Name[sr]=Аудио подешавања
Name[sv]=Ljudinställningar
Name[te]=ఆడియో సెట్టింగ్స్
Name[tl]=Mga setting ng audio
Name[tr]=Ses ayarları
Name[uk]=Налаштування звуку
Name[vi]=Cài đặt âm thanh
GenericName=multiple audio cards
GenericName[zh]=多个音频设备
GenericName[az]=birdən çox səs qurğusu
GenericName[bg]=множество аудио устройства
GenericName[bn]=একাধিক অডিও ডিভাইস
GenericName[ca]=múltiples dispositius d'àudio
GenericName[cs]=více zvukových zařízení
GenericName[da]=flere lydenheder
GenericName[de]=mehrere Audiogeräte
GenericName[el]=πολλαπλές συσκευές ήχου
GenericName[eo]=Multoblajn sonaj aparatoj
GenericName[es]=múltiples dispositivos de audio
GenericName[et]=mitu heliseadet
GenericName[fi]=useita äänilaitteita
GenericName[fr]=plusieurs appareils audio
GenericName[hi]=एकाधिक ऑडियो डिवाइस
GenericName[hr]=više zvučnih uređaja
GenericName[hu]=több hangkészülék
GenericName[id]=beberapa perangkat audio
GenericName[it]=dispositivi audio multipli
GenericName[ja]=複数のオーディオデバイス
GenericName[ko]=다중 오디오 장치
GenericName[lt]=kelios garso įrenginiai
GenericName[lv]=vairākas audio ierīces
GenericName[ms]=pelbagai peranti audio
GenericName[nb]=flere lydenheder
GenericName[nl]=meerdere geluidsapparaten
GenericName[no]=flere lydenheder
GenericName[pl]=wiele urządzeń dźwiękowych
GenericName[pt]=vários dispositivos de áudio
GenericName[ro]=mai multe dispozitive audio
GenericName[sk]=viac zvukových zariadení
GenericName[sl]=več zvočnih naprav
GenericName[sr]=више аудио уређаја
GenericName[sv]=flera ljudenheter
GenericName[te]=బహుళ ఆడియో పరికరాలు
GenericName[tl]=maramihang mga audio device
GenericName[tr]=birden fazla ses cihazı
GenericName[uk]=кілька аудіопристроїв
GenericName[vi]=nhiều thiết bị âm thanh
Icon=mixer
Exec=audio-configurator
Terminal=false
Categories=System;Settings;
