[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Audio Configurator
Name[az]=Audio Konfiquratoru
Name[bg]=Аудио конфигуратор
Name[bn]=অডিও কনফিগারার
Name[ca]=Configurador d'àudio
Name[cs]=Audio Configurator
Name[da]=Audio Configurator
Name[de]=Audio-Konfigurator
Name[el]=Audio Configurator
Name[eo]=Aŭdilo Agordilo
Name[es]=Configurador de audio
Name[et]=Audio konfigurator
Name[fi]=Audio Configurator
Name[fr]=Configurateur audio
Name[hi]=ऑडियो कॉन्फ़िगरेटर
Name[hr]=Audio konfigurator
Name[hu]=Audio konfigurátor
Name[id]=Audio Configurator
Name[it]=Configuratore audio
Name[ja]=オーディオコンフィグレータ
Name[ko]=오디오 구성자
Name[lt]=Garso konfigūravimas
Name[lv]=Audio konfigurators
Name[ms]=Penyusun Audio
Name[nb]=Lydkonfigurator
Name[nl]=Audio Configurator
Name[no]=Lydkonfigurator
Name[pl]=Audio Configurator
Name[pt]=Configurador de Áudio
Name[ro]=Configurator audio
Name[sk]=Audio konfigurátor
Name[sl]=Konfigurator zvoka
Name[sr]=Аудио конфигуратор
Name[sv]=Audio Configurator
Name[te]=ఆడియో కాన్ఫిగరేటర్
Name[tl]=Audio Configurator
Name[tr]=Ses Yapılandırıcısı
Name[uk]=Audio Configurator
Name[vi]=Trình cấu hình âm thanh
GenericName=multiple audio cards
GenericName[az]=birdən çox səs kartı
GenericName[bg]=множество аудио карти
GenericName[bn]=একাধিক অডিও কার্ড
GenericName[ca]=múltiples targetes
GenericName[cs]=více zvukových karet
GenericName[da]=flere lydkort
GenericName[de]=mehrere Audiokarten
GenericName[el]=πολλαπλές κάρτες ήχου
GenericName[eo]=Multoblajn kartojn
GenericName[es]=múltiples tarjetas
GenericName[et]=mitu helikaart
GenericName[fi]=useita äänikortteja
GenericName[fr]=plusieurs cartes audio
GenericName[hi]=एकाधिक ऑडियो कार्ड
GenericName[hr]=više zvučnih kartica
GenericName[hu]=több hangkártya
GenericName[id]=beberapa kartu audio
GenericName[it]=schede audio multipli
GenericName[ja]=複数のオーディオカード
GenericName[ko]=다중 오디오 카드
GenericName[lt]=kelios garso plokštės
GenericName[lv]=vairākas audio kartes
GenericName[ms]=pelbagai kad audio
GenericName[nb]=flere lydkort
GenericName[nl]=meerdere geluidskaarten
GenericName[no]=flere lydkort
GenericName[pl]=wiele kart dźwiękowych
GenericName[pt]=vários cartões de áudio
GenericName[ro]=mai multe carduri audio
GenericName[sk]=viac zvukových kariet
GenericName[sl]=več zvočnih kartic
GenericName[sr]=више аудио картица
GenericName[sv]=flera ljudkort
GenericName[te]=బహుళ ఆడియో కార్డులు
GenericName[tl]=maramihang mga audio card
GenericName[tr]=birden fazla ses kartı
GenericName[uk]=кілька аудіокарт
GenericName[vi]=nhiều thẻ âm thanh
Icon=mixer
Exec=audio-configurator
Terminal=false
Categories=System;Settings;
