[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Audio Configurator
Name[ru]=Аудио Конфигуратор
Name[zh]=音频配置工具
Name[az]=Səs Karte Konfigürasiyası
Name[bg]=Конфигуратор на аудио устройства
Name[bn]=স্বর কনফিগার
Name[ca]=Configurador d'àudio
Name[cs]=Audio Configurator
Name[da]=Audio Configurator
Name[de]=Audio-Konfigurator
Name[el]=Ρυθμίσεις ήχου
Name[eo]=Aŭdilo Agordilo
Name[es]=Configurador de audio
Name[et]=Audio konfigurator
Name[fi]=Audio Configurator
Name[fr]=Configurateur audio
Name[hi]=ऑडियो कॉन्फ़िगरर
Name[hr]=Audio konfigurat
Name[hu]=Audio konfigurátor
Name[id]=Konfigurator Audio
Name[it]=Configuratore audio
Name[ja]=オーディオ設定
Name[ko]=오디오 설정
Name[lt]=Garso konfigūracija
Name[lv]=Audio konfigurators
Name[ms]=Pengatur Audio
Name[nb]=Lydkonfigurator
Name[nl]=Audio Configurator
Name[no]=Lydkonfigurator
Name[pl]=Konfigurator audio
Name[pt]=Configurador de Áudio
Name[ro]=Configurator audio
Name[sk]=Audio konfigurátor
Name[sl]=Konfigurator zvoka
Name[sr]=Аудио конфигуратор
Name[sv]=Audio Configurator
Name[te]=ఆడియో కన్ఫిగరేటర్
Name[tl]=Audio Configurator
Name[tr]=Ses Ayarları
Name[uk]=Аудіо конфігуратор
Name[vi]=Cấu hình âm thanh
GenericName=multiple audio cards
GenericName[az]=çoxlu audio kartları
GenericName[bg]=множество аудио карти
GenericName[bn]=একাধিক অডিও কার্ড
GenericName[ca]=múltiples targetes d'àudio
GenericName[cs]=více zvukových karet
GenericName[da]=flere lydkort
GenericName[de]=mehrere Audiokarten
GenericName[el]=πολλαπλές κάρτες ήχου
GenericName[eo]=multoblaj sonkartoj
GenericName[es]=múltiples tarjetas de audio
GenericName[et]=mitu helikaarti
GenericName[fi]=useita äänikortteja
GenericName[fr]=plusieurs cartes audio
GenericName[hi]=एकाधिक ऑडियो कार्ड
GenericName[hr]=više audio kartica
GenericName[hu]=több hangkártya
GenericName[id]=beberapa kartu audio
GenericName[it]=più schede audio
GenericName[ja]=複数のオーディオカード
GenericName[ko]=여러 오디오 카드
GenericName[lt]=kelios garso plokštės
GenericName[lv]=vairākas audio kartes
GenericName[ms]=berbilang kad audio
GenericName[nb]=flere lydkort
GenericName[nl]=meerdere audiokaarten
GenericName[no]=flere lydkort
GenericName[pl]=wiele kart dźwiękowych
GenericName[pt]=múltiplas placas de áudio
GenericName[ro]=mai multe plăci audio
GenericName[ru]=несколько звуковых карт
GenericName[sk]=viacero zvukových kariet
GenericName[sl]=več zvočnih kartic
GenericName[sr]=више аудио картица
GenericName[sv]=flera ljudkort
GenericName[te]=బహుళ ఆడియో కార్డ్లు
GenericName[tl]=maramihang mga audio card
GenericName[tr]=birden fazla ses kartı
GenericName[uk]=кілька аудіокарт
GenericName[vi]=nhiều card âm thanh
GenericName[zh]=多个声卡
Icon=mixer
Exec=audio-configurator
Terminal=false
Categories=System;Settings;
