[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=WiFi Login Captive Portal Access
Name[az]=WiFi Giriş Əsir Portal Girişi
Name[bg]=WiFi Login Captive Portal Access
Name[bn]=ওয়াইফাই লগইন ক্যাপটিভ পোর্টাল অ্যাক্সেস
Name[ca]=Inici de sessió WiFi Accés al portal captiu
Name[cs]=Přihlášení WiFi Captive Portal Access
Name[da]=WiFi-login Captive Portal-adgang
Name[de]=WiFi-Login-Captive-Portal-Zugriff
Name[el]=Πρόσβαση στην πύλη σύνδεσης WiFi
Name[eo]=WiFi-Ensalutu Kaptiva Portala Aliro
Name[es]=Inicio de sesión WiFi Acceso al portal cautivo
Name[et]=WiFi-sisselogimine, juurdepääs portaalile
Name[fi]=WiFi-kirjautuminen Captive Portal Access
Name[fr]=Accès au portail captif de connexion WiFi
Name[hi]=वाईफाई लॉगिन कैप्टिव पोर्टल एक्सेस
Name[hr]=WiFi prijava Captive Portal pristup
Name[hu]=WiFi bejelentkezés Captive Portal Access
Name[id]=Akses Portal Tawanan Masuk WiFi
Name[it]=Accesso WiFi Accesso al Captive Portal
Name[ja]=WiFi ログイン キャプティブ ポータル アクセス
Name[ko]=WiFi 로그인 종속 포털 액세스
Name[lt]=„WiFi“ prisijungimo fiksuota prieiga prie portalo
Name[lv]=WiFi pieteikšanās caurlaides portāla piekļuve
Name[ms]=Akses Portal Tawanan Log Masuk WiFi
Name[nb]=WiFi-pålogging Captive Portal-tilgang
Name[nl]=WiFi-aanmelding Captive Portal-toegang
Name[no]=WiFi-pålogging Captive Portal-tilgang
Name[pl]=Dostęp do portalu przechwytującego logowania WiFi
Name[pt]=Acesso ao portal cativo de login WiFi
Name[ro]=Conectare WiFi Acces la portal captiv
Name[ru]=Вход в систему через Wi-Fi. Доступ к порталу Captive Portal.
Name[sk]=Prístup k prihlasovaciemu portálu WiFi
Name[sl]=Dostop do prestreznega portala za prijavo WiFi
Name[sr]=Приступ преко ВиФи Логин Цаптиве Портал
Name[sv]=WiFi-inloggning Captive Portal Access
Name[te]=WiFi లాగిన్ క్యాప్టివ్ పోర్టల్ యాక్సెస్
Name[tl]=WiFi Login Captive Portal Access
Name[tr]=WiFi Girişi Kısıtlı Portal Erişimi
Name[uk]=Доступ до прикріпленого порталу входу через WiFi
Name[vi]=Đăng nhập WiFi Truy cập cổng cố định
Name[zh]=WiFi 登录强制门户访问
GenericName=Login to the captive portal which requires to submit your information in order to give you access to internet
GenericName[az]=İnternetə çıxış əldə etmək üçün məlumatlarınızı təqdim etməyi tələb edən əsir portalına daxil olun
GenericName[bg]=Влезте в портала за прихващане, който изисква да изпратите вашата информация, за да ви даде достъп до интернет
GenericName[bn]=ক্যাপটিভ পোর্টালে লগইন করুন যা আপনাকে ইন্টারনেটে অ্যাক্সেস দেওয়ার জন্য আপনার তথ্য জমা দিতে হবে
GenericName[ca]=Inicieu sessió al portal captiu que requereix enviar la vostra informació per tal de donar-vos accés a Internet
GenericName[cs]=Přihlaste se do captive portálu, který vyžaduje zadání vašich údajů, aby vám umožnil přístup k internetu
GenericName[da]=Log ind på captive-portalen, som kræver at du indsender dine oplysninger for at give dig adgang til internettet
GenericName[de]=Melden Sie sich beim Captive-Portal an, wo Sie Ihre Daten angeben müssen, um Zugriff auf das Internet zu erhalten
GenericName[el]=Συνδεθείτε στην πύλη δέσμευσης που απαιτεί να υποβάλετε τα στοιχεία σας για να έχετε πρόσβαση στο διαδίκτυο
GenericName[eo]=Ensalutu al·la kaptita portalo, kiu postulas sendi viajn informojn por doni al vi aliron al interreto
GenericName[es]=Inicie sesión en el portal cautivo que requiere enviar su información para poder darle acceso a Internet.
GenericName[et]=Logige sisse suletud portaali, mis nõuab teie teabe esitamist, et anda teile juurdepääs Internetile
GenericName[fi]=Kirjaudu sisään captive-portaaliin, joka edellyttää tietosi lähettämistä, jotta voit käyttää Internetiä
GenericName[fr]=Connectez-vous au portail captif qui nécessite de soumettre vos informations afin de vous donner accès à Internet
GenericName[hi]=कैप्टिव पोर्टल पर लॉग इन करें जिसमें आपको इंटरनेट तक पहुंच प्रदान करने के लिए आपकी जानकारी जमा करनी होगी
GenericName[hr]=Prijavite se na captive portal koji zahtijeva slanje vaših podataka kako bi vam se omogućio pristup internetu
GenericName[hu]=Jelentkezzen be a captive portálra, amelyhez meg kell adnia adatait, hogy hozzáférést biztosítson az internethez
GenericName[id]=Masuk ke portal captive yang mengharuskan Anda mengirimkan informasi Anda untuk memberi Anda akses ke internet
GenericName[it]=Accedi al captive Portal che richiede l'invio delle tue informazioni per consentirti l'accesso a Internet
GenericName[ja]=キャプティブ ポータルにログインすると、インターネットにアクセスするために情報を送信する必要があります。
GenericName[ko]=인터넷에 접속하려면 정보를 제출해야 하는 캡티브 포털에 로그인하세요.
GenericName[lt]=Prisijunkite prie fiksuoto portalo, kuriame reikia pateikti savo informaciją, kad galėtumėte naudotis internetu
GenericName[lv]=Piesakieties caurlaides portālā, kurā ir jāiesniedz jūsu informācija, lai nodrošinātu jums piekļuvi internetam
GenericName[ms]=Log masuk ke portal tawanan yang memerlukan untuk menyerahkan maklumat anda untuk memberi anda akses kepada internet
GenericName[nb]=Logg inn på captive-portalen som krever å sende inn informasjonen din for å gi deg tilgang til internett
GenericName[nl]=Log in op de captive portal, waarvoor u uw gegevens moet indienen om u toegang tot internet te geven
GenericName[no]=Logg inn på captive-portalen som krever å sende inn informasjonen din for å gi deg tilgang til internett
GenericName[pl]=Zaloguj się do portalu przechwytującego, który wymaga podania danych, aby umożliwić Ci dostęp do Internetu
GenericName[pt]=Faça login no portal cativo que exige o envio de suas informações para ter acesso à internet
GenericName[ro]=Conectați-vă la portalul captiv care necesită trimiterea informațiilor dvs. Pentru a vă oferi acces la internet
GenericName[ru]=Войдите на авторизованный портал, который требует предоставить вашу информацию, чтобы предоставить вам доступ к Интернету.
GenericName[sk]=Prihláste sa na prihlasovací portál, ktorý vyžaduje zadanie vašich údajov, aby ste získali prístup na internet
GenericName[sl]=Prijavite se v prestrezni portal, ki zahteva predložitev vaših podatkov, da vam omogoči dostop do interneta
GenericName[sr]=Пријавите се на капитивни портал који захтева да пошаљете своје податке да бисте добили приступ интернету
GenericName[sv]=Logga in på captive-portalen som kräver att du skickar din information för att ge dig tillgång till internet
GenericName[te]=క్యాప్టివ్ పోర్టల్కి లాగిన్ చేయండి, ఇది మీకు ఇంటర్నెట్ యాక్సెస్ని అందించడానికి మీ సమాచారాన్ని సమర్పించాలి
GenericName[tl]=Mag-login sa captive portal na nangangailangan na isumite ang iyong impormasyon upang mabigyan ka ng access sa internet
GenericName[tr]=İnternete erişmenizi sağlamak için bilgilerinizi göndermenizi gerektiren sabit portala giriş yapın
GenericName[uk]=Увійдіть на адаптивний портал, який вимагає надати вашу інформацію, щоб надати вам доступ до Інтернету
GenericName[vi]=Đăng nhập vào cổng bị khóa yêu cầu gửi thông tin của bạn để cấp cho bạn quyền truy cập internet
GenericName[zh]=登录强制门户，需要提交您的信息才能访问互联网
Icon=web-browser
Exec=captive-portal
Terminal=false
Categories=Network;WebBrowser;
