[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Desktop Size
Name[az]=Masaüstü ölçüsü
Name[bg]=Размер на работния плот
Name[bn]=ডেস্কটপ আকার
Name[ca]=Mida de l’escriptori
Name[cs]=Velikost plochy
Name[da]=Desktop størrelse
Name[de]=Desktop-Größe
Name[el]=Μέγεθος επιφάνειας εργασίας
Name[eo]=Labortabla Grandeco
Name[es]=Tamaño de escritorio
Name[et]=Töölaua suurus
Name[fi]=Työpöydän koko
Name[fr]=Taille du bureau
Name[hi]=डेस्कटॉप का आकार
Name[hr]=Veličina radne površine
Name[hu]=Asztal mérete
Name[id]=Ukuran Desktop
Name[it]=Dimensioni desktop
Name[ja]=デスクトップサイズ
Name[ko]=데스크탑 크기
Name[lt]=Darbalaukio dydis
Name[lv]=Darbvirsmas lielums
Name[ms]=Saiz Desktop
Name[nb]=Størrelse på skrivebordet
Name[nl]=Desktopgrootte
Name[no]=Størrelse på skrivebordet
Name[pl]=Rozmiar pulpitu
Name[pt]=Tamanho da área de trabalho
Name[ro]=Dimensiunea desktopului
Name[sk]=Veľkosť pracovnej plochy
Name[sl]=Velikost namizja
Name[sr]=Величина радне површине
Name[sv]=Skrivbordsstorlek
Name[te]=డెస్క్టాప్ పరిమాణం
Name[tl]=Laki ng Desktop
Name[tr]=Masaüstü Boyutu
Name[uk]=Розмір робочого столу
Name[vi]=Kích thước máy tính để bàn
GenericName=Configure the size of your fonts and desktop elements
GenericName[az]=Şriftlərinizin və masa üstü elementlərinizin ölçüsünü konfiqurasiya edin
GenericName[bg]=Конфигурирайте размера на вашите шрифтове и елементи на работния плот
GenericName[bn]=আপনার ফন্ট এবং ডেস্কটপ উপাদানগুলির আকার কনফিগার করুন
GenericName[ca]=Configureu la mida dels vostres tipus de lletra i elements d'escriptori
GenericName[cs]=Nakonfigurujte velikost svých písem a prvků na ploše
GenericName[da]=Konfigurer størrelsen på dine skrifttyper og skrivebordselementer
GenericName[de]=Konfigurieren Sie die Größe Ihrer Schriftarten und Desktop-Elemente
GenericName[el]=Διαμορφώστε το μέγεθος των γραμματοσειρών και των στοιχείων της επιφάνειας εργασίας σας
GenericName[eo]=Agordu la grandecon de viaj tiparoj kaj labortablaj elementoj
GenericName[es]=Configure el tamaño de sus fuentes y elementos de escritorio
GenericName[et]=Konfigureerige oma fontide ja töölaualementide suurus
GenericName[fi]=Määritä fonttien ja työpöytäelementtien koko
GenericName[fr]=Configurez la taille de vos polices et éléments de bureau
GenericName[hi]=अपने फोंट और डेस्कटॉप तत्वों के आकार को कॉन्फ़िगर करें
GenericName[hr]=Konfigurirajte veličinu fontova i elemenata radne površine
GenericName[hu]=Konfigurálja a betűtípusok és az asztali elemek méretét
GenericName[id]=Konfigurasikan ukuran font dan elemen desktop Anda
GenericName[it]=Configura la dimensione dei caratteri e degli elementi del desktop
GenericName[ja]=フォントとデスクトップ要素のサイズを構成します
GenericName[ko]=글꼴 및 데스크탑 요소의 크기 구성
GenericName[lt]=Konfigūruokite savo šriftų ir darbalaukio elementų dydį
GenericName[lv]=Konfigurējiet fontu un darbvirsmas elementu lielumu
GenericName[ms]=Konfigurasikan ukuran fon dan elemen desktop anda
GenericName[nb]=Konfigurer størrelsen på skriftene og skrivebordselementene dine
GenericName[nl]=Configureer de grootte van uw lettertypen en bureaubladelementen
GenericName[no]=Konfigurer størrelsen på skriftene og skrivebordselementene dine
GenericName[pl]=Skonfiguruj rozmiar czcionek i elementów pulpitu
GenericName[pt]=Configure o tamanho de suas fontes e elementos da área de trabalho
GenericName[ro]=Configurați dimensiunea fonturilor și a elementelor desktop
GenericName[sk]=Nakonfigurujte veľkosť svojich písiem a prvkov na pracovnej ploche
GenericName[sl]=Konfigurirajte velikost pisav in elementov namizja
GenericName[sr]=Конфигуришите величину фонтова и елемената радне површине
GenericName[sv]=Konfigurera storleken på dina teckensnitt och element på skrivbordet
GenericName[te]=మీ ఫాంట్లు మరియు డెస్క్టాప్ మూలకాల పరిమాణాన్ని కాన్ఫిగర్ చేయండి
GenericName[tl]=I-configure ang laki ng iyong mga font at elemento ng desktop
GenericName[tr]=Yazı tiplerinin ve masaüstü öğelerinizin boyutunu yapılandırın
GenericName[uk]=Налаштуйте розмір шрифтів та елементів робочого столу
GenericName[vi]=Định cấu hình kích thước phông chữ và các phần tử màn hình của bạn
Icon=preferences-desktop-display
Exec=elive-scale-desktop
Terminal=false
Categories=System;Settings;
#OnlyShowIn=E16
