[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Reset your desktop configurations
Name[ru]=Сбросьте настройки рабочего стола
Name[zh]=重置您的桌面配置
Name[az]=İş masası konfiqurasiyalarınızı sıfırlayın
Name[bg]=Нулирайте конфигурациите на работния плот
Name[bn]=আপনার ডেস্কটপ কনফিগারেশন রিসেট করুন
Name[ca]=Restableix la configuració de l'escriptori
Name[cs]=Obnovte konfiguraci plochy
Name[da]=Nulstil dine skrivebordskonfigurationer
Name[de]=Setzen Sie Ihre Desktop-Konfigurationen zurück
Name[el]=Επαναφέρετε τις διαμορφώσεις της επιφάνειας εργασίας σας
Name[eo]=Restarigu viajn labortablaj agordojn
Name[es]=Restablece las configuraciones de tu escritorio
Name[et]=Lähtestage oma töölaua konfiguratsioonid
Name[fi]=Palauta työpöydän asetukset
Name[fr]=Réinitialisez vos configurations de bureau
Name[hi]=अपने डेस्कटॉप कॉन्फ़िगरेशन रीसेट करें
Name[hr]=Poništite konfiguracije radne površine
Name[hu]=Állítsa vissza az asztali konfigurációkat
Name[id]=Setel ulang konfigurasi desktop Anda
Name[it]=Ripristina le configurazioni del desktop
Name[ja]=デスクトップ構成をリセットする
Name[ko]=데스크탑 구성 재설정
Name[lt]=Iš naujo nustatykite darbalaukio konfigūracijas
Name[lv]=Atiestatiet darbvirsmas konfigurācijas
Name[ms]=Tetapkan semula konfigurasi desktop anda
Name[nb]=Tilbakestill skrivebordskonfigurasjonene
Name[nl]=Reset uw desktopconfiguraties
Name[no]=Tilbakestill skrivebordskonfigurasjonene
Name[pl]=Zresetuj konfiguracje pulpitu
Name[pt]=Redefinir as configurações da área de trabalho
Name[ro]=Resetați configurațiile desktopului
Name[sk]=Obnovte konfigurácie pracovnej plochy
Name[sl]=Ponastavite konfiguracije namizja
Name[sr]=Ресетујте конфигурације радне површине
Name[sv]=Återställ dina skrivbordskonfigurationer
Name[te]=మీ డెస్క్టాప్ కాన్ఫిగరేషన్లను రీసెట్ చేయండి
Name[tl]=I-reset ang iyong mga configuration sa desktop
Name[tr]=Masaüstü yapılandırmalarınızı sıfırlayın
Name[uk]=Скиньте налаштування робочого столу
Name[vi]=Đặt lại cấu hình máy tính để bàn của bạn
Comment=Initiate a new configuration
Comment[ru]=Инициировать новую конфигурацию
Comment[zh]=启动新配置
Comment[az]=Yeni bir konfiquranı başladın
Comment[bg]=Започнете нова конфигурация
Comment[bn]=একটি নতুন কনফিগারেশন শুরু
Comment[ca]=Inicieu una nova configuració
Comment[cs]=Spusťte novou konfiguraci
Comment[da]=Start en ny konfiguration
Comment[de]=Initiiere eine neue Konfiguration
Comment[el]=Ξεκινήστε μια νέα διαμόρφωση
Comment[eo]=Komencu novan agordon
Comment[es]=Iniciar una nueva configuración
Comment[et]=Uue konfiguratsiooni käivitamine
Comment[fi]=Aloita uusi kokoonpano
Comment[fr]=Lancer une nouvelle configuration
Comment[hi]=एक नया कॉन्फ़िगरेशन आरंभ करें
Comment[hr]=Pokrenite novu konfiguraciju
Comment[hu]=Új konfiguráció kezdeményezése
Comment[id]=Memulai konfigurasi baru
Comment[it]=Inizia una nuova configurazione
Comment[ja]=新しい設定を開始する
Comment[ko]=새 구성 시작
Comment[lt]=Inicijuokite naują konfigūraciją
Comment[lv]=Uzsākt jaunu konfigurāciju
Comment[ms]=Mulakan konfigurasi baru
Comment[nb]=Start en ny konfigurasjon
Comment[nl]=Start een nieuwe configuratie
Comment[no]=Start en ny konfigurasjon
Comment[pl]=Zainicjuj nową konfigurację
Comment[pt]=Inicie uma nova configuração
Comment[ro]=Inițiați o nouă configurație
Comment[sk]=Spustite novú konfiguráciu
Comment[sl]=Začnite novo konfiguracijo
Comment[sr]=Покрените нову конфигурацију
Comment[sv]=Initiera en ny konfiguration
Comment[te]=క్రొత్త కాన్ఫిగరేషన్ను ప్రారంభించండి
Comment[tl]=Magpasimula ng isang bagong configuration
Comment[tr]=Yeni bir yapılandırma başlat
Comment[uk]=Ініціювати нову конфігурацію
Comment[vi]=Khởi tạo một cấu hình mới
Categories=System;Settings;
StartupNotify=true
NoDisplay=false
Icon=gwget
TryExec=e17-restart-and-remove-conf-file-WARNING-dont-complain
Exec=e17-restart-and-remove-conf-file-WARNING-dont-complain --ask
