[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Desktop Size and Scale
Name[ru]=Размер и масштаб рабочего стола
Name[az]=İş masasının ölçüsü və miqyası
Name[bg]=Размер и мащаб на работния плот
Name[bn]=ডেস্কটপ সাইজ এবং স্কেল
Name[ca]=Mida i escala de l'escriptori
Name[cs]=Velikost a měřítko plochy
Name[da]=Desktop størrelse og skala
Name[de]=Desktop-Größe und -Skalierung
Name[el]=Μέγεθος και κλίμακα επιφάνειας εργασίας
Name[eo]=Labortabla Grandeco kaj Skalo
Name[es]=Tamaño y escala del escritorio
Name[et]=Töölaua suurus ja skaala
Name[fi]=Työpöydän koko ja mittakaava
Name[fr]=Taille et échelle du bureau
Name[hi]=डेस्कटॉप का आकार और पैमाना
Name[hr]=Veličina i mjerilo radne površine
Name[hu]=Az asztal mérete és mérete
Name[id]=Ukuran dan Skala Desktop
Name[it]=Dimensioni e scala del desktop
Name[ja]=デスクトップのサイズとスケール
Name[ko]=데스크탑 크기 및 규모
Name[lt]=Darbalaukio dydis ir mastelis
Name[lv]=Darbvirsmas izmērs un mērogs
Name[ms]=Saiz dan Skala Desktop
Name[nb]=Desktop størrelse og skala
Name[nl]=Desktopgrootte en schaal
Name[no]=Desktop størrelse og skala
Name[pl]=Rozmiar i skala pulpitu
Name[pt]=Tamanho e escala da área de trabalho
Name[ro]=Dimensiunea și scara desktopului
Name[sk]=Veľkosť a mierka pracovnej plochy
Name[sl]=Velikost in merilo namizja
Name[sr]=Величина и размере радне површине
Name[sv]=Skrivbordsstorlek och skala
Name[te]=డెస్క్టాప్ పరిమాణం మరియు స్కేల్
Name[tl]=Sukat at Sukat ng Desktop
Name[tr]=Masaüstü Boyutu ve Ölçeği
Name[uk]=Розмір і масштаб робочого столу
Name[vi]=Kích thước và tỷ lệ máy tính để bàn
Name[zh]=桌面尺寸和比例
GenericName=Configure the size and scale of your fonts and desktop elements
GenericName[ru]=Настройте размер и масштаб шрифтов и элементов рабочего стола.
GenericName[az]=Şriftlərinizin və iş masası elementlərinizin ölçüsünü və miqyasını konfiqurasiya edin
GenericName[bg]=Конфигурирайте размера и мащаба на вашите шрифтове и елементи на работния плот
GenericName[bn]=আপনার ফন্ট এবং ডেস্কটপ উপাদানগুলির আকার এবং স্কেল কনফিগার করুন
GenericName[ca]=Configureu la mida i l'escala dels vostres tipus de lletra i elements de l'escriptori
GenericName[cs]=Nakonfigurujte velikost a měřítko písem a prvků plochy
GenericName[da]=Konfigurer størrelsen og skalaen af dine skrifttyper og skrivebordselementer
GenericName[de]=Konfigurieren Sie die Größe und Skalierung Ihrer Schriftarten und Desktop-Elemente
GenericName[el]=Διαμορφώστε το μέγεθος και την κλίμακα των γραμματοσειρών και των στοιχείων επιφάνειας εργασίας σας
GenericName[eo]=Agordu la grandecon kaj skalon de viaj tiparoj kaj labortablaj elementoj
GenericName[es]=Configura el tamaño y la escala de tus fuentes y elementos de escritorio
GenericName[et]=Seadistage oma fontide ja töölaua elementide suurust ja ulatust
GenericName[fi]=Määritä fonttien ja työpöydän elementtien koko ja mittakaava
GenericName[fr]=Configurez la taille et l'échelle de vos polices et éléments de bureau
GenericName[hi]=अपने फोंट और डेस्कटॉप तत्वों के आकार और पैमाने को कॉन्फ़िगर करें
GenericName[hr]=Konfigurirajte veličinu i mjerilo svojih fontova i elemenata radne površine
GenericName[hu]=Konfigurálja a betűtípusok és az asztali elemek méretét és léptékét
GenericName[id]=Konfigurasikan ukuran dan skala font dan elemen desktop Anda
GenericName[it]=Configura le dimensioni e la scala dei tuoi caratteri e degli elementi del desktop
GenericName[ja]=フォントとデスクトップ要素のサイズとスケールを構成します
GenericName[ko]=글꼴 및 데스크탑 요소의 크기와 배율 구성
GenericName[lt]=Konfigūruokite šriftų ir darbalaukio elementų dydį ir mastelį
GenericName[lv]=Konfigurējiet fontu un darbvirsmas elementu lielumu un mērogu
GenericName[ms]=Konfigurasikan saiz dan skala fon dan elemen desktop anda
GenericName[nb]=Konfigurer størrelsen og skalaen til skriftene og skrivebordselementene dine
GenericName[nl]=Configureer de grootte en schaal van uw lettertypen en bureaubladelementen
GenericName[no]=Konfigurer størrelsen og skalaen til skriftene og skrivebordselementene dine
GenericName[pl]=Skonfiguruj rozmiar i skalę czcionek i elementów pulpitu
GenericName[pt]=Configure o tamanho e a escala de suas fontes e elementos da área de trabalho
GenericName[ro]=Configurați dimensiunea și scara fonturilor și a elementelor de pe desktop
GenericName[sk]=Nakonfigurujte veľkosť a mierku svojich písiem a prvkov pracovnej plochy
GenericName[sl]=Konfigurirajte velikost in merilo vaših pisav in elementov namizja
GenericName[sr]=Конфигуришите величину и размеру ваших фонтова и елемената радне површине
GenericName[sv]=Konfigurera storleken och skalan på dina teckensnitt och skrivbordselement
GenericName[te]=మీ ఫాంట్లు మరియు డెస్క్టాప్ మూలకాల పరిమాణం మరియు స్కేల్ను కాన్ఫిగర్ చేయండి
GenericName[tl]=I-configure ang laki at sukat ng iyong mga font at elemento ng desktop
GenericName[tr]=Yazı tiplerinizin ve masaüstü öğelerinizin boyutunu ve ölçeğini yapılandırın
GenericName[uk]=Налаштуйте розмір і масштаб шрифтів і елементів робочого столу
GenericName[vi]=Định cấu hình kích thước và tỷ lệ của phông chữ và các thành phần máy tính để bàn của bạn
GenericName[zh]=配置字体和桌面元素的大小和比例
Icon=preferences-desktop-display
Exec=elive-scale-desktop
Terminal=false
Categories=System;Settings;
#OnlyShowIn=E16
