[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Language and keyboard configurations
Name[zh]=语言和键盘配置
Name[az]=Dil və klaviatura konfiqurasiyaları
Name[bg]=Езикови и клавиатурни конфигурации
Name[bn]=ভাষা এবং কীবোর্ড কনফিগারেশন
Name[ca]=Configuracions d’idioma i teclat
Name[cs]=Konfigurace jazyka a klávesnice
Name[da]=Sprog- og tastaturkonfigurationer
Name[de]=Sprach- und Tastaturkonfigurationen
Name[el]=Ρυθμίσεις γλώσσας και πληκτρολογίου
Name[eo]=Agordoj de lingvo kaj klavaro
Name[es]=Configuraciones de idioma y teclado
Name[et]=Keele ja klaviatuuri konfiguratsioonid
Name[fi]=Kielen ja näppäimistön kokoonpanot
Name[fr]=Configurations de langue et de clavier
Name[hi]=भाषा और कीबोर्ड विन्यास
Name[hr]=Jezične i tipkovničke konfiguracije
Name[hu]=Nyelv és billentyűzet konfigurációk
Name[id]=Konfigurasi bahasa dan keyboard
Name[it]=Configurazioni di lingua e tastiera
Name[ja]=言語とキーボードの構成
Name[ko]=언어 및 키보드 구성
Name[lt]=Kalbos ir klaviatūros konfigūracijos
Name[lv]=Valodas un tastatūras konfigurācijas
Name[ms]=Konfigurasi bahasa dan papan kekunci
Name[nb]=Språk- og tastaturkonfigurasjoner
Name[nl]=Taal- en toetsenbordconfiguraties
Name[no]=Språk- og tastaturkonfigurasjoner
Name[pl]=Konfiguracje języka i klawiatury
Name[pt]=Configurações de idioma e teclado
Name[ro]=Configurații de limbă și tastatură
Name[sk]=Konfigurácia jazyka a klávesnice
Name[sl]=Jezikovne in tipkovnice
Name[sr]=Језичке и тастатурне конфигурације
Name[sv]=Språk- och tangentbordskonfigurationer
Name[te]=భాష మరియు కీబోర్డ్ కాన్ఫిగరేషన్u200cలు
Name[tl]=Mga pagsasaayos ng wika at keyboard
Name[tr]=Dil ve klavye yapılandırmaları
Name[uk]=Мова та конфігурації клавіатури
Name[vi]=Cấu hình ngôn ngữ và bàn phím
GenericName=Reconfigure your system's language and keyboard
GenericName[zh]=重新配置系统的语言和键盘
GenericName[az]=Sisteminizin dilini və klaviaturasını yenidən qurun
GenericName[bg]=Преконфигурирайте езика и клавиатурата на вашата система
GenericName[bn]=আপনার সিস্টেমের ভাষা এবং কীবোর্ড পুনরায় কনফিগার করুন
GenericName[ca]=Torneu a configurar l’idioma i el teclat del vostre sistema
GenericName[cs]=Překonfigurujte jazyk a klávesnici systému
GenericName[da]=Konfigurer dit systems sprog og tastatur igen
GenericName[de]=Konfigurieren Sie die Sprache und Tastatur Ihres Systems neu
GenericName[el]=Επανασυναρμολογήστε τη γλώσσα και το πληκτρολόγιο του συστήματός σας
GenericName[eo]=Reagordu la lingvon kaj klavaron de via sistemo
GenericName[es]=Reconfigure el idioma y el teclado de su sistema
GenericName[et]=Konfigureerige oma süsteemi keel ja klaviatuur uuesti
GenericName[fi]=Määritä järjestelmän kieli ja näppäimistö uudelleen
GenericName[fr]=Reconfigurez la langue et le clavier de votre système
GenericName[hi]=अपने सिस्टम की भाषा और कीबोर्ड को फिर से कॉन्फ़िगर करें
GenericName[hr]=Ponovno konfigurirajte jezik i tipkovnicu vašeg sustava
GenericName[hu]=Konfigurálja újra a rendszer nyelvét és billentyűzetét
GenericName[id]=Konfigurasikan ulang bahasa dan keyboard sistem Anda
GenericName[it]=Riconfigurare la lingua e la tastiera del sistema
GenericName[ja]=システムの言語とキーボードを再構成します
GenericName[ko]=시스템 언어 및 키보드 재구성
GenericName[lt]=Iš naujo sukonfigūruokite sistemos kalbą ir klaviatūrą
GenericName[lv]=Pārkonfigurējiet sistēmas valodu un tastatūru
GenericName[ms]=Simpan semula bahasa dan papan kekunci sistem anda
GenericName[nb]=Konfigurer systemets språk og tastatur på nytt
GenericName[nl]=Configureer de taal en het toetsenbord van uw systeem opnieuw
GenericName[no]=Konfigurer systemets språk og tastatur på nytt
GenericName[pl]=Zmień konfigurację języka i klawiatury systemu
GenericName[pt]=Reconfigure o idioma e o teclado do seu sistema
GenericName[ro]=Reconfigurați limba și tastatura sistemului
GenericName[sk]=Znovu nakonfigurujte jazyk a klávesnicu vášho systému
GenericName[sl]=Ponovno konfigurirajte jezik in tipkovnico sistema
GenericName[sr]=Поново подесите језик и тастатуру система
GenericName[sv]=Konfigurera ditt systems språk och tangentbord
GenericName[te]=మీ సిస్టమ్ యొక్క భాష మరియు కీబోర్డ్u200cను తిరిగి కాన్ఫిగర్ చేయండి
GenericName[tl]=I-configure ang wika at keyboard ng iyong system
GenericName[tr]=Sisteminizin dilini ve klavyesini yeniden yapılandırın
GenericName[uk]=Переконфігуруйте мову та клавіатуру вашої системи
GenericName[vi]=Cấu hình lại ngôn ngữ và bàn phím hệ thống của bạn
Icon=config-language
Exec=elive-reconfigure-language-keyboard
Terminal=false
Categories=System;Settings;
