[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Language and keyboard configurations
Name[ru]=Настройки языка и клавиатуры
Name[zh]=语言和键盘设置
Name[az]=Dil və klaviatura ayarları
Name[bg]=Настройки на езика и клавиатурата
Name[bn]=ভাষা এবং কীবোর্ড সেটিংস
Name[ca]=Configuració d’idioma i teclat
Name[cs]=Nastavení jazyka a klávesnice
Name[da]=Sprog- og tastaturindstillinger
Name[de]=Sprach- und Tastatureinstellungen
Name[el]=Ρυθμίσεις γλώσσας και πληκτρολογίου
Name[eo]=Lingvo- kaj klavaraj agordoj
Name[es]=Configuración de idioma y teclado
Name[et]=Keele ja klaviatuuri seaded
Name[fi]=Kielen ja näppäimistön asetukset
Name[fr]=Paramètres de langue et de clavier
Name[hi]=भाषा और कीबोर्ड सेटिंग्स
Name[hr]=Jezične i tipkovničke postavke
Name[hu]=Nyelv és billentyűzet beállítások
Name[id]=Pengaturan bahasa dan keyboard
Name[it]=Impostazioni di lingua e tastiera
Name[ja]=言語とキーボードの設定
Name[ko]=언어 및 키보드 설정
Name[lt]=Kalbos ir klaviatūros nustatymai
Name[lv]=Valodas un tastatūras iestatījumi
Name[ms]=Tetapan bahasa dan papan kekunci
Name[nb]=Språk- og tastaturinnstillinger
Name[nl]=Taal- en toetsenbordinstellingen
Name[no]=Språk- og tastaturinnstillinger
Name[pl]=Ustawienia języka i klawiatury
Name[pt]=Configurações de idioma e teclado
Name[ro]=Setări de limbă și tastatură
Name[sk]=Nastavenie jazyka a klávesnice
Name[sl]=Jezikovne in tipkovniške nastavitve
Name[sr]=Језичке и тастатурне поставке
Name[sv]=Språk- och tangentbordsinställningar
Name[te]=భాష మరియు కీబోర్డ్ సెట్టింగులు
Name[tl]=Mga setting ng wika at keyboard
Name[tr]=Dil ve klavye ayarları
Name[uk]=Налаштування мови та клавіатури
Name[vi]=Cài đặt ngôn ngữ và bàn phím
GenericName=Reconfigure your system's language and keyboard
GenericName[ru]=Измените настройку языка и клавиатуры вашей системы.
GenericName[zh]=重新配置系统的语言和键盘
GenericName[az]=Sisteminizin dilini və klaviaturasını yenidən qurun
GenericName[bg]=Преконфигурирайте езика и клавиатурата на вашата система
GenericName[bn]=আপনার সিস্টেমের ভাষা এবং কীবোর্ড পুনরায় কনফিগার করুন
GenericName[ca]=Torneu a configurar l’idioma i el teclat del vostre sistema
GenericName[cs]=Překonfigurujte jazyk a klávesnici systému
GenericName[da]=Konfigurer dit systems sprog og tastatur igen
GenericName[de]=Konfigurieren Sie die Sprache und Tastatur Ihres Systems neu
GenericName[el]=Επανασυναρμολογήστε τη γλώσσα και το πληκτρολόγιο του συστήματός σας
GenericName[eo]=Reagordu la lingvon kaj klavaron de via sistemo
GenericName[es]=Reconfigure el idioma y el teclado de su sistema
GenericName[et]=Konfigureerige oma süsteemi keel ja klaviatuur uuesti
GenericName[fi]=Määritä järjestelmän kieli ja näppäimistö uudelleen
GenericName[fr]=Reconfigurez la langue et le clavier de votre système
GenericName[hi]=अपने सिस्टम की भाषा और कीबोर्ड को फिर से कॉन्फ़िगर करें
GenericName[hr]=Ponovno konfigurirajte jezik i tipkovnicu vašeg sustava
GenericName[hu]=Konfigurálja újra a rendszer nyelvét és billentyűzetét
GenericName[id]=Konfigurasikan ulang bahasa dan keyboard sistem Anda
GenericName[it]=Riconfigurare la lingua e la tastiera del sistema
GenericName[ja]=システムの言語とキーボードを再構成します
GenericName[ko]=시스템 언어 및 키보드 재구성
GenericName[lt]=Iš naujo sukonfigūruokite sistemos kalbą ir klaviatūrą
GenericName[lv]=Pārkonfigurējiet sistēmas valodu un tastatūru
GenericName[ms]=Simpan semula bahasa dan papan kekunci sistem anda
GenericName[nb]=Konfigurer systemets språk og tastatur på nytt
GenericName[nl]=Configureer de taal en het toetsenbord van uw systeem opnieuw
GenericName[no]=Konfigurer systemets språk og tastatur på nytt
GenericName[pl]=Zmień konfigurację języka i klawiatury systemu
GenericName[pt]=Reconfigure o idioma e o teclado do seu sistema
GenericName[ro]=Reconfigurați limba și tastatura sistemului
GenericName[sk]=Znovu nakonfigurujte jazyk a klávesnicu vášho systému
GenericName[sl]=Ponovno konfigurirajte jezik in tipkovnico sistema
GenericName[sr]=Поново подесите језик и тастатуру система
GenericName[sv]=Konfigurera ditt systems språk och tangentbord
GenericName[te]=మీ సిస్టమ్ యొక్క భాష మరియు కీబోర్డ్u200cను తిరిగి కాన్ఫిగర్ చేయండి
GenericName[tl]=I-configure ang wika at keyboard ng iyong system
GenericName[tr]=Sisteminizin dilini ve klavyesini yeniden yapılandırın
GenericName[uk]=Переконфігуруйте мову та клавіатуру вашої системи
GenericName[vi]=Cấu hình lại ngôn ngữ và bàn phím hệ thống của bạn
Icon=config-language
Exec=elive-reconfigure-language-keyboard
Terminal=false
Categories=System;Settings;
