[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Procrastination Eradicator
Categories=Utilities;Development
StartupNotify=true
NoDisplay=true
Icon=task-due
Exec=procrastination-eradicator
