[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Procrastination Eradicator
Name[az]=Artırıcı Eradikator
Name[bg]=Противопоставяне ерадикатор null
Name[bn]=বিলম্বিত eradicator null
Name[ca]=Eradicador de dilatació
Name[cs]=Eradikátor prokládání
Name[da]=Procrastination Eradicator
Name[de]=Aufschub-Eradikator
Name[el]=Απαγόρευση ανατροπής null
Name[en]=Procrastination Eradicator
Name[eo]=Prokrastanta Redaktilo
Name[es]=Erradicador de la dilación
Name[et]=Viivitus Eradicator
Name[fi]=Viivyttely Eradicator
Name[fr]=Eradicateur de procrastination
Name[hi]=ढिलाई Eradicator null
Name[hr]=Odgodu ukidanja
Name[hu]=Elhalasztás Eradicator
Name[id]=Penundaan Pemberantasan
Name[it]=Procrastinare Eradicator
Name[ja]=遅れ矯正器 null
Name[ko]=지연 지연 장치 null
Name[lt]=Procrastination Eradicator
Name[lv]=Procrastination Eradicator
Name[ms]=Pemberhentian Pemberhentian
Name[nb]=Utsettelsesradisjoner
Name[nl]=Uitstel Eradicator
Name[no]=Utsettelsesradisjoner
Name[pl]=Wycofywanie przed korozją
Name[pt]=Erradicador de procrastinação
Name[ro]=Eradicator de întârziere
Name[sk]=Protrastinácia Eradikátor
Name[sl]=Odmevni iztrebitelj
Name[sr]=Процрастинатион Ерадицатор null
Name[sv]=Procrastination Eradicator
Name[te]=ప్రొకాస్టినేషన్ ఎరేడికేటర్ null
Name[tl]=Pagpapaliban ng pagpapaliban
Name[tr]=Erteleme Eradikatörü
Name[uk]=Затягування ерадікатора null
Name[vi]=Chiết xuất huỷ diệt
Categories=Utility;Development
StartupNotify=true
NoDisplay=true
Icon=task-due
Exec=procrastination-eradicator
