[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Elive Run File helper
Categories=Utility
StartupNotify=true
NoDisplay=true
Icon=logo-elive
Exec=elive-run-file-helper %F
MimeType=text/plain;text/x-shellscript;text/x-ruby;text/x-python;text/x-perl;text/x-awk;edj/edje;application/octet-stream;application/x-executable;application/gzip
