[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Helper to run files in Elive
Name[az]=Elive-də faylları işə salmaq üçün köməkçi
Name[bg]=Помощник за стартиране на файлове в Elive
Name[bn]=এলিভে ফাইল চালানোর জন্য সাহায্যকারী
Name[ca]=Ajudant per executar fitxers a Elive
Name[cs]=Pomocník pro spouštění souborů v Elive
Name[da]=Hjælper til at køre filer i Elive
Name[de]=Helfer zum Ausführen von Dateien in Elive
Name[el]=Βοηθός για την εκτέλεση αρχείων στο Elive
Name[eo]=Helpanto por ruli dosierojn en Elive
Name[es]=Ayudante para ejecutar archivos en Elive
Name[et]=Abimees Elive'is failide käitamiseks
Name[fi]=Apulainen tiedostojen suorittamisessa Elivessä
Name[fr]=Aide pour exécuter des fichiers dans Elive
Name[hi]=Elive में फ़ाइलें चलाने में सहायक
Name[hr]=Pomoćnik za pokretanje datoteka u Eliveu
Name[hu]=Segítő a fájlok futtatásához az Elive-ban
Name[id]=Pembantu untuk menjalankan file di Elive
Name[it]=Aiutante per eseguire file in Elive
Name[ja]=Elive でファイルを実行するためのヘルパー
Name[ko]=Elive에서 파일을 실행하는 도우미
Name[lt]=Pagalbininkas paleisti failus „Elive“.
Name[lv]=Palīgs failu palaišanai programmā Elive
Name[ms]=Pembantu untuk menjalankan fail dalam Elive
Name[nb]=Hjelper for å kjøre filer i Elive
Name[nl]=Helper om bestanden uit te voeren in Elive
Name[no]=Hjelper for å kjøre filer i Elive
Name[pl]=Pomocnik do uruchamiania plików w Elive
Name[pt]=Auxiliar para executar arquivos no Elive
Name[ro]=Ajutor pentru a rula fișiere în Elive
Name[ru]=Помощник для запуска файлов в Elive
Name[sk]=Pomocník na spúšťanie súborov v Elive
Name[sl]=Pomočnik za zagon datotek v Elive
Name[sr]=Помоћник за покретање датотека у Еливеу
Name[sv]=Hjälpare för att köra filer i Elive
Name[te]=ఎలివ్లో ఫైల్లను అమలు చేయడానికి సహాయకుడు
Name[tl]=Helper na magpatakbo ng mga file sa Elive
Name[tr]=Elive'da dosyaları çalıştırma yardımcısı
Name[uk]=Помічник для запуску файлів в Elive
Name[vi]=Trợ giúp chạy tập tin trong Elive
Name[zh]=在 Elive 中运行文件的帮助程序
Categories=Utility
StartupNotify=true
NoDisplay=true
Icon=logo-elive
Exec=elive-run-file-helper %F
MimeType=text/plain;text/x-shellscript;text/x-ruby;text/x-python;text/x-perl;text/x-awk;application/x-extension-edj;application/edje;application/octet-stream;application/x-executable;application/x-e-theme
