[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Elive Run File helper
Name[zh]=Live 运行文件助手
Name[az]=Elive Run Fayl köməkçisi
Name[bg]=Помощник на Elive Run File
Name[bn]=এলাইভ রান ফাইল হেলপার
Name[ca]=Ajuda d'Elive Run File
Name[cs]=Pomocník pro soubor Elive Run
Name[da]=Elive Run File -hjælper
Name[de]=Elive Run File Helfer
Name[el]=Βοηθός Elive Run File
Name[eo]=Helpo Elive Run File
Name[es]=Ayudante de archivo de ejecución de Elive
Name[et]=Elive Run File abimees
Name[fi]=Elive Run File -apuri
Name[fr]=Aide au fichier d'exécution d'Elive
Name[hi]=एलीव रन फाइल हेल्पर
Name[hr]=Elive Run File pomoćnik
Name[hu]=Elive Run File segéd
Name[id]=Pembantu Elive Run File
Name[it]=Elive Run File helper
Name[ja]=Elive RunFileヘルパー
Name[ko]=Elive 실행 파일 도우미
Name[lt]=„Elive Run File“ pagalbininkas
Name[lv]=Elive Run File palīgs
Name[ms]=Pembantu Fail Elive Run
Name[nb]=Elive Run File -hjelper
Name[nl]=Elive Run Bestandshelper
Name[no]=Elive Run File -hjelper
Name[pl]=Pomocnik Elive Run File
Name[pt]=Elive Run File helper
Name[ro]=Elive Run File helper
Name[sk]=Pomocník programu Elive Run File
Name[sl]=Pomočnik Elive Run File
Name[sr]=Помоћник Еливе Рун Филе
Name[sv]=Elive Run File helper
Name[te]=ఎలివ్ రన్ ఫైల్ హెల్పర్
Name[tl]=Elive Run File helper
Name[tr]=Elive Run File yardımcısı
Name[uk]=Помічник Elive Run File
Name[vi]=Trình trợ giúp tệp chạy Elive
Categories=Utility
StartupNotify=true
NoDisplay=true
Icon=logo-elive
Exec=elive-run-file-helper %F
MimeType=text/plain;text/x-shellscript;text/x-ruby;text/x-python;text/x-perl;text/x-awk;application/x-extension-edj;application/edje;application/octet-stream;application/x-executable;application/x-e-theme
