[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Users manager
Name[az]=İstifadəçi meneceri
Name[bn]=ব্যবহারকারী ম্যানেজার null
Name[eo]=Uzanto direktisto
Name[et]=Kasutajate haldur
Name[hu]=Felhasználók kezelője
Name[ko]=사용자 관리자 null
Name[ms]=Pengurus pengguna
Name[nb]=Brukersjef
Name[sr]=Менаџер корисника null
Name[te]=వినియోగదారులు మేనేజర్ null
Name[tr]=Kullanıcı yöneticisi
Name[vi]=Người sử dụng quản lý
Name[uk]=Користувач Manager
Name[tl]=Users manager
Name[sv]=Användare manager
Name[sl]=Uporabniki manager
Name[sk]=Užívatelia manažér
Name[ru]=Пользователь Manager
Name[ro]=Manager Utilizatori
Name[pt]=Gerente de Usuários
Name[pl]=Menedżer użytkowników
Name[no]=Brukere manager
Name[nl]=Gebruikers manager
Name[lv]=Lietotāji vadītājs
Name[lt]=Vartotojai vadybininkas
Name[ja]=ユーザーマネージャ
Name[iw]=מנהל משתמשים
Name[it]=Gestione degli utenti
Name[id]=Users manajer
Name[hr]=Korisnici manager
Name[hi]=उपयोगकर्ता प्रबंधक
Name[fr]=Les utilisateurs gérant
Name[fi]=Käyttäjät Manager
Name[es]=Administrador de usuarios
Name[en]=Users manager
Name[el]=Χρήστες διαχειριστή
Name[de]=Benutzer-Manager
Name[da]=Brugere manager
Name[cs]=Uživatelé manažer
Name[ca]=Administrador d'usuaris
Name[bg]=Потребители мениджър
Name[ar]=شاهد مدير
Icon=emblem-people
Exec=gksu user-manager
Terminal=false
Categories=System;Settings;
