[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=User change
Name[az]=İstifadəçi dəyişikliyi
Name[bg]=Промяна на потребителя null
Name[bn]=ব্যবহারকারী পরিবর্তন null
Name[ca]=Canvi d'usuari
Name[cs]=Změna uživatele
Name[da]=Brugerændring
Name[de]=Benutzerwechsel
Name[el]=Τροποποίηση χρήστη null
Name[en]=User change
Name[eo]=Uzantoŝanĝo
Name[es]=Cambio de usuario
Name[et]=Kasutaja muudatus
Name[fi]=Käyttäjän muutos
Name[fr]=Changement d'utilisateur
Name[hi]=उपयोगकर्ता परिवर्तन null
Name[hr]=Korisnička promjena
Name[hu]=Felhasználóváltás
Name[id]=Perubahan pengguna
Name[it]=Modifica dell'utente
Name[ja]=ユーザーの変更 null
Name[ko]=사용자 변경 null
Name[lt]=Vartotojo keitimas
Name[lv]=Lietotāju maiņa
Name[ms]=Perubahan pengguna
Name[nb]=Brukerendring
Name[nl]=Gebruikersverandering
Name[no]=Brukerendring
Name[pl]=Zmiana użytkownika
Name[pt]=Mudança de usuário
Name[ro]=Schimbarea utilizatorului
Name[sk]=Zmena používateľa
Name[sl]=Sprememba uporabnika
Name[sr]=Промена корисника null
Name[sv]=Användarens förändring
Name[te]=వాడుకరి మార్పు null
Name[tl]=Pagbabago ng gumagamit
Name[tr]=Kullanıcı değiştirme
Name[uk]=Змінення користувача null
Name[vi]=Thay đổi người dùng
GenericName=Switch to a different user maintaining your session
GenericName[az]=Sessiyanı saxlayan başqa bir istifadəçi üçün keçid
GenericName[bg]=Превключете към друг потребител, който поддържа сесията ви null
GenericName[bn]=আপনার সেশন বজায় রাখা একটি ভিন্ন ব্যবহারকারীতে স্যুইচ করুন null
GenericName[ca]=Canvieu a un usuari diferent que mantingui la sessió
GenericName[cs]=Přepněte na jiného uživatele, který udržuje vaši relaci
GenericName[da]=Skift til en anden bruger, der opretholder din session
GenericName[de]=Wechseln Sie zu einem anderen Benutzer, der Ihre Sitzung beibehält
GenericName[el]=Μεταβείτε σε διαφορετικό χρήστη που διατηρεί την περίοδο λειτουργίας σας null
GenericName[en]=Switch to a different user maintaining your session
GenericName[eo]=Iru al malsama uzanto konservanta vian kunsidon
GenericName[es]=Cambiar a otro usuario manteniendo su sesión
GenericName[et]=Seansi säilitamiseks kasutage muud kasutajat
GenericName[fi]=Vaihda toisen käyttäjän ylläpitämään istuntosi
GenericName[fr]=Passer à un utilisateur différent en maintenant votre session
GenericName[hi]=अपने सत्र को बनाए रखने वाले किसी भिन्न उपयोगकर्ता पर स्विच करें null
GenericName[hr]=Prijeđite na drugog korisnika koji održava vašu sesiju
GenericName[hu]=Váltson egy másik felhasználóra, aki fenntartja a munkamenetet
GenericName[id]=Beralih ke pengguna yang berbeda untuk mempertahankan sesi Anda
GenericName[it]=Passare a un altro utente mantenendo la sessione
GenericName[ja]=セッションを維持している別のユーザーに切り替える null
GenericName[ko]=세션을 유지 관리하는 다른 사용자로 전환하십시오. Null
GenericName[lt]=Perjunkite kitą naudotoją, kuris palaiko jūsų sesiją
GenericName[lv]=Pārslēdzieties uz citu lietotāju, kas saglabā jūsu sesiju
GenericName[ms]=Beralih kepada pengguna lain yang mengekalkan sesi anda
GenericName[nb]=Bytt til en annen bruker som opprettholder økten din
GenericName[nl]=Overschakelen naar een andere gebruiker die uw sessie handhaaft
GenericName[no]=Bytt til en annen bruker som opprettholder økten din
GenericName[pl]=Przełącz na innego użytkownika, utrzymując sesję
GenericName[pt]=Mude para um usuário diferente mantendo sua sessão
GenericName[ro]=Treceți la un alt utilizator care vă menține sesiunea
GenericName[sk]=Prepnite na iného používateľa, ktorý si udržiava vašu reláciu
GenericName[sl]=Preklopite na drugega uporabnika, ki vzdržuje vašo sejo
GenericName[sr]=Пребаците на другог корисника који одржава вашу сесију null
GenericName[sv]=Byt till en annan användare som behåller din session
GenericName[te]=మీ సెషన్ నిర్వహించడం వేరే వినియోగదారుకు మారండి null
GenericName[tl]=Lumipat sa ibang gumagamit na pinapanatili ang iyong sesyon
GenericName[tr]=Oturumunuzu sürdüren farklı bir kullanıcıya geç
GenericName[uk]=Перейти до іншого користувача, який підтримує ваш сеанс null
GenericName[vi]=Chuyển sang người dùng khác duy trì phiên làm việc của bạn
Icon=emblem-people
Exec=dm-tool switch-to-greeter
Terminal=false
Categories=System;Settings;
