[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Users manager
Name[az]=İstifadəçilər meneceri
Name[bg]=Мениджър на потребителите
Name[bn]=ব্যবহারকারী ম্যানেজার
Name[ca]=Gestor d'usuaris
Name[cs]=Správce uživatelů
Name[da]=Bruger manager
Name[de]=Benutzermanager
Name[el]=Διαχειριστής χρηστών
Name[eo]=Administranto de uzantoj
Name[es]=Administrador de usuarios
Name[et]=Kasutajate haldur
Name[fi]=Käyttäjien hallinta
Name[fr]=Gestionnaire d'utilisateurs
Name[hi]=उपयोगकर्ता प्रबंधक
Name[hr]=Upravitelj korisnika
Name[hu]=Felhasználók menedzsere
Name[id]=Manajer pengguna
Name[it]=Gestore utenti
Name[ja]=ユーザーマネージャー
Name[ko]=사용자 관리자
Name[lt]=Vartotojų vadybininkas
Name[lv]=Lietotāju pārvaldnieks
Name[ms]=Pengurus pengguna
Name[nb]=Brukeransvarlig
Name[nl]=Gebruikers beheerder
Name[no]=Brukeransvarlig
Name[pl]=Menedżer użytkowników
Name[pt]=Gerenciador de usuários
Name[ro]=Manager de utilizatori
Name[sk]=Správca používateľov
Name[sl]=Upravitelj uporabnikov
Name[sr]=Менаџер корисника
Name[sv]=Användaransvarig
Name[te]=యూజర్స్ మేనేజర్
Name[tl]=Tagapamahala ng mga gumagamit
Name[tr]=Kullanıcı yöneticisi
Name[uk]=Менеджер користувачів
Name[vi]=Người quản lý người dùng
Name[zh]=用户经理
Comment=Configure and manage your users
Comment[az]=İstifadəçilərinizi konfiqurasiya edin və idarə edin
Comment[bg]=Конфигурирайте и управлявайте своите потребители
Comment[bn]=কনফিগার এবং আপনার ব্যবহারকারীদের পরিচালনা
Comment[ca]=Configura i gestiona els teus usuaris
Comment[cs]=Nakonfigurujte a spravujte své uživatele
Comment[da]=Konfigurer og administrer dine brugere
Comment[de]=Konfigurieren und verwalten Sie Ihre Benutzer
Comment[el]=Διαμορφώστε και διαχειριστείτε τους χρήστες σας
Comment[eo]=Agordu kaj administru viajn uzantojn
Comment[es]=Configura y gestiona tus usuarios
Comment[et]=Konfigureerige ja hallake oma kasutajaid
Comment[fi]=Määritä ja hallitse käyttäjiäsi
Comment[fr]=Configurez et gérez vos utilisateurs
Comment[hi]=अपने उपयोगकर्ताओं को कॉन्फ़िगर और प्रबंधित करें
Comment[hr]=Konfigurirajte i upravljajte svojim korisnicima
Comment[hu]=Konfigurálja és kezelje felhasználóit
Comment[id]=Konfigurasikan dan kelola pengguna Anda
Comment[it]=Configura e gestisci i tuoi utenti
Comment[ja]=ユーザーの構成と管理
Comment[ko]=사용자 구성 및 관리
Comment[lt]=Konfigūruokite ir valdykite savo vartotojus
Comment[lv]=Konfigurējiet un pārvaldiet savus lietotājus
Comment[ms]=Konfigurasikan dan urus pengguna anda
Comment[nb]=Konfigurer og administrer brukerne dine
Comment[nl]=Configureer en beheer uw gebruikers
Comment[no]=Konfigurer og administrer brukerne dine
Comment[pl]=Konfiguruj i zarządzaj użytkownikami
Comment[pt]=Configure e gerencie seus usuários
Comment[ro]=Configurați și gestionați utilizatorii
Comment[sk]=Konfigurujte a spravujte svojich používateľov
Comment[sl]=Konfigurirajte in upravljajte svoje uporabnike
Comment[sr]=Конфигуришите и управљајте својим корисницима
Comment[sv]=Konfigurera och hantera dina användare
Comment[te]=మీ వినియోగదారులను కాన్ఫిగర్ చేయండి మరియు నిర్వహించండి
Comment[tl]=I-configure at pamahalaan ang iyong mga user
Comment[tr]=Kullanıcılarınızı yapılandırın ve yönetin
Comment[uk]=Налаштуйте своїх користувачів і керуйте ними
Comment[vi]=Định cấu hình và quản lý người dùng của bạn
Comment[zh]=配置和管理您的用户
Icon=emblem-people
Exec=gksu user-manager
Terminal=false
Categories=System;Settings;
