[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Users configurator
Name[az]=İstifadəçi konfiquratoru
Name[bg]=Потребителски конфигуратор
Name[bn]=ব্যবহারকারীর কনফিগারর
Name[ca]=Configuració dels usuaris
Name[cs]=Konfigurátor uživatelů
Name[da]=Brugerkonfigurator
Name[de]=Benutzer-Konfigurator
Name[el]=Διαμορφωτής χρηστών
Name[eo]=Agordanto de uzantoj
Name[es]=Configurador de usuarios
Name[et]=Kasutajate konfigurator
Name[fi]=Käyttäjien konfiguraattori
Name[fr]=Configurateur des utilisateurs
Name[hi]=उपयोगकर्ता कॉन्फ़िगरेटर
Name[hr]=Korisnički konfigurator
Name[hu]=Felhasználó konfigurátor
Name[id]=Konfigurator pengguna
Name[it]=Configuratore di utenti
Name[ja]=ユーザーコンフィギュレータ
Name[ko]=사용자 구성자
Name[lt]=Vartotojų konfigūravimas
Name[lv]=Lietotāju konfigurators
Name[ms]=Configurator pengguna
Name[nb]=Brukerkonfigurator
Name[nl]=Gebruikersconfigurator
Name[no]=Brukerkonfigurator
Name[pl]=Konfigurator użytkowników
Name[pt]=Configuração do usuário
Name[ro]=Configurator utilizator
Name[sk]=Konfigurátor používateľov
Name[sl]=Konfigurator uporabnikov
Name[sr]=Конфигуратор корисника
Name[sv]=Användarkonfigurator
Name[te]=వినియోగదారులు ఆకృతీకరణ
Name[tl]=Mga gumagamit ng configurator
Name[tr]=Kullanıcıların yapılandırıcısı
Name[uk]=Користувач-конфігуратор
Name[vi]=Người sử dụng cấu hình
Icon=emblem-people
Exec=gksu user-manager
Terminal=false
Categories=System;Settings;
