[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=User switch
Name[az]=İstifadəçi keçidi
Name[bg]=Превключване на потребителя
Name[bn]=ব্যবহারকারী সুইচ
Name[ca]=Canvi d'usuari
Name[cs]=Přepínač uživatele
Name[da]=Brugerkontakt
Name[de]=Benutzerwechsel
Name[el]=Διακόπτης χρήστη
Name[eo]=Uzantoŝaltilo
Name[es]=Cambio de usuario
Name[et]=Kasutaja lüliti
Name[fi]=Käyttäjäkytkin
Name[fr]=Commutateur d'utilisateur
Name[hi]=उपयोगकर्ता स्विच
Name[hr]=Korisnički prekidač
Name[hu]=Felhasználói kapcsoló
Name[id]=Saklar pengguna
Name[it]=Cambio utente
Name[ja]=ユーザースイッチ
Name[ko]=사용자 전환
Name[lt]=Vartotojo jungiklis
Name[lv]=Lietotāja slēdzis
Name[ms]=Suis pengguna
Name[nb]=Brukerbryter
Name[nl]=Gebruikersschakelaar:
Name[no]=Brukerbryter
Name[pl]=Przełącznik użytkownika
Name[pt]=Troca de usuário
Name[ro]=Comutator utilizator
Name[sk]=Užívateľský prepínač
Name[sl]=Uporabniško stikalo
Name[sr]=Кориснички прекидач
Name[sv]=Användaromkopplare
Name[te]=వినియోగదారు స్విచ్
Name[tl]=Paglipat ng gumagamit
Name[tr]=Kullanıcı anahtarı
Name[uk]=Перемикач користувача
Name[vi]=Chuyển đổi người dùng
GenericName=Switch to a different user maintaining your session
GenericName[bg]=Превключете към друг потребител, който поддържа вашата сесия
GenericName[bn]=আপনার সেশন বজায় রাখার জন্য অন্য ব্যবহারকারীর দিকে যান
GenericName[el]=Μεταβείτε σε διαφορετικό χρήστη που διατηρεί τη συνεδρία σας
GenericName[hi]=अपना सत्र बनाए रखने वाले किसी भिन्न उपयोगकर्ता पर स्विच करें
GenericName[ja]=セッションを維持している別のユーザーに切り替えます
GenericName[ko]=세션을 유지 관리하는 다른 사용자로 전환
GenericName[sr]=Пребаците се на другог корисника који одржава сесију
GenericName[te]=మీ సెషన్ను నిర్వహిస్తున్న వేరొక వినియోగదారుకు మారండి
GenericName[uk]=Перейдіть до іншого користувача, який веде ваш сеанс
GenericName[az]=Sessiyanı saxlayan başqa bir istifadəçi üçün keçid
GenericName[ca]=Canvieu a un usuari diferent que mantingui la sessió
GenericName[cs]=Přepněte na jiného uživatele, který udržuje vaši relaci
GenericName[da]=Skift til en anden bruger, der opretholder din session
GenericName[de]=Wechseln Sie zu einem anderen Benutzer, der Ihre Sitzung beibehält
GenericName[en]=Switch to a different user maintaining your session
GenericName[eo]=Iru al malsama uzanto konservanta vian kunsidon
GenericName[es]=Cambiar a otro usuario manteniendo su sesión
GenericName[et]=Seansi säilitamiseks kasutage muud kasutajat
GenericName[fi]=Vaihda toisen käyttäjän ylläpitämään istuntosi
GenericName[fr]=Passer à un utilisateur différent en maintenant votre session
GenericName[hr]=Prijeđite na drugog korisnika koji održava vašu sesiju
GenericName[hu]=Váltson egy másik felhasználóra, aki fenntartja a munkamenetet
GenericName[id]=Beralih ke pengguna yang berbeda untuk mempertahankan sesi Anda
GenericName[it]=Passare a un altro utente mantenendo la sessione
GenericName[lt]=Perjunkite kitą naudotoją, kuris palaiko jūsų sesiją
GenericName[lv]=Pārslēdzieties uz citu lietotāju, kas saglabā jūsu sesiju
GenericName[ms]=Beralih kepada pengguna lain yang mengekalkan sesi anda
GenericName[nb]=Bytt til en annen bruker som opprettholder økten din
GenericName[nl]=Overschakelen naar een andere gebruiker die uw sessie handhaaft
GenericName[no]=Bytt til en annen bruker som opprettholder økten din
GenericName[pl]=Przełącz na innego użytkownika, utrzymując sesję
GenericName[pt]=Mude para um usuário diferente mantendo sua sessão
GenericName[ro]=Treceți la un alt utilizator care vă menține sesiunea
GenericName[sk]=Prepnite na iného používateľa, ktorý si udržiava vašu reláciu
GenericName[sl]=Preklopite na drugega uporabnika, ki vzdržuje vašo sejo
GenericName[sv]=Byt till en annan användare som behåller din session
GenericName[tl]=Lumipat sa ibang gumagamit na pinapanatili ang iyong sesyon
GenericName[tr]=Oturumunuzu sürdüren farklı bir kullanıcıya geç
GenericName[vi]=Chuyển sang người dùng khác duy trì phiên làm việc của bạn
Icon=emblem-people
Exec=dm-tool switch-to-greeter
Terminal=false
Categories=System;
