[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Web Launcher tool
Categories=Utilities;Development
StartupNotify=true
NoDisplay=true
Icon=web-browser
Exec=web-launcher %u
