[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Elive Web launcher
Name[zh]=Live 网络启动器
Name[az]=Elive Web başlatma cihazı
Name[bg]=Elive Web стартер
Name[bn]=এলিভ ওয়েব লঞ্চার
Name[ca]=Elive Web launcher
Name[cs]=Spouštěč Elive Web
Name[da]=Elive webstarter
Name[de]=Elive Web Launcher
Name[el]=Elive Web launcher
Name[eo]=Elive-Reta lanĉilo
Name[es]=Lanzador web Elive
Name[et]=Elive Web käivitaja
Name[fi]=Elive Web -käynnistin
Name[fr]=Lanceur Web Elive
Name[hi]=लाइव वेब लॉन्चर
Name[hr]=Elive web pokretač
Name[hu]=Elive Web launcher
Name[id]=Peluncur Web Elive
Name[it]=Elive Web launcher
Name[ja]=EliveWebランチャー
Name[ko]=라이브 웹 런처
Name[lt]=„Elive Web“ paleidimo priemonė
Name[lv]=Elive Web palaidējs
Name[ms]=Pelancar Web Elive
Name[nb]=Elive webstarter
Name[nl]=Elive Web launcher
Name[no]=Elive webstarter
Name[pl]=Program uruchamiający Elive Web
Name[pt]=Elive Web launcher
Name[ro]=Lansator web Elive
Name[sk]=Spúšťač Elive Web
Name[sl]=Elive spletni zaganjalnik
Name[sr]=Еливе Веб лаунцхер
Name[sv]=Elive Web launcher
Name[te]=ఎలివ్ వెబ్ లాంచర్
Name[tl]=Launcher ng Elive Web
Name[tr]=Elive Web başlatıcısı
Name[uk]=Elive Web launcher
Name[vi]=Trình khởi chạy Web Elive
Categories=Internet
StartupNotify=true
NoDisplay=true
Icon=web-browser
Exec=web-launcher %U
MimeType=text/html;text/xml;application/xhtml_xml;application/xhtml+xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;application/rss+xml;
