[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Elive Web launcher
Categories=Internet
StartupNotify=true
NoDisplay=true
Icon=web-browser
Exec=web-launcher %U
MimeType=text/html;text/xml;application/xhtml_xml;application/xhtml+xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;application/rss+xml;
