
                                    <br><br>

                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td class="container-padding footer-text" align="left" style="font-family:Helvetica, Arial, sans-serif;font-size:12px;line-height:16px;color:#aaaaaa;padding-left:24px;padding-right:24px">
                                <br><br>


                                <strong>Elive, probably the best operating system ever made</strong><br>
                                <span class="ios-footer">
                                    48 Ovda Regio, Venus.<br>
                                    Galactic Federation, Orion–Cygnus Arm<br>
                                    Milky Way<br>
                                </span>
                                <a href="https://www.elivecd.org" style="color:#aaaaaa">www.elivecd.org</a>

                                <br><br>
                                @ XXXyearXXX Elive, All beers reserved
                                <br><br>
                                <i>TIP: This email has been sent from the commandline using an amazing tool by Elive called email-sender. Have you tried it yet? :)</i>
                                <br><br>

                            </td>
                        </tr>
                    </table>
                    <!--/600px container -->


                            </td>
            </tr>
        </table>
        <!--/100% background wrapper-->

    </body>
</html>
