
                                    <br><br>

                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td class="container-padding footer-text" align="left" style="font-family:Helvetica, Arial, sans-serif;font-size:12px;line-height:16px;color:#aaaaaa;padding-left:24px;padding-right:24px">
                                <br><br>
                                @ XXXyearXXX Elive, All beers reserved
                                <br><br>

                                If you need to report an issues with Elive you can do it with <a href="http://bugs.elivecd.org" style="color:#aaaaaa">our BTS</a>,

                                <!--You are receiving this email because you opted in on our website. Update your <a href="#" style="color:#aaaaaa">email preferences</a> or <a href="#" style="color:#aaaaaa">unsubscribe</a>.-->
                                <br><br>

                                <strong>Elive, probably the best operating system ever made</strong><br>
                                <span class="ios-footer">
                                    48 Ovda Regio, Venus.<br>
                                    Galactic Federation, Orion–Cygnus Arm<br>
                                    Milky Way<br>
                                </span>
                                <a href="http://www.elivecd.org" style="color:#aaaaaa">www.elivecd.org</a><br>

                                <br><br>

                            </td>
                        </tr>
                    </table>
                    <!--/600px container -->


                            </td>
            </tr>
        </table>
        <!--/100% background wrapper-->

    </body>
</html>
